AFKWindowsService/Service References/ServiceReference1/AFKHostedService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64626/AFKHostedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AFKHostedService" />
  <xs:import schemaLocation="http://localhost:64626/AFKHostedService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="GetAllEntriesResult" nillable="true" type="q1:ArrayOfDataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="GetEntriesOfUserResult" nillable="true" type="q2:ArrayOfDataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="GetEntriesBetweenResult" nillable="true" type="q3:ArrayOfDataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesBetweenForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesBetweenForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="GetEntriesBetweenForUserResult" nillable="true" type="q4:ArrayOfDataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemainingTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="entry" nillable="true" type="q5:DataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemainingTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RemainingTimeResult" type="q6:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesForAlice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesForAliceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="GetEntriesForAliceResult" nillable="true" type="q7:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="str" nillable="true" type="q8:DataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntryOutputResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="entry" nillable="true" type="q9:DataBaseEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="device" nillable="true" type="q10:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AFKHostedService" minOccurs="0" name="user" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DBTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DBTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DBTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>