WebApplication/WebApplication/Service References/ServiceReference1/AFKHostedService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64626/AFKHostedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AFKHostedService" />
  <xs:complexType name="TupleOfArrayOfDataBaseEntryintvHVz0_S93">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDataBaseEntry" Namespace="http://schemas.datacontract.org/2004/07/AFKHostedService" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AFKHostedService" name="m_Item1" nillable="true" type="q1:ArrayOfDataBaseEntry" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfDataBaseEntryintvHVz0_S93" nillable="true" type="tns:TupleOfArrayOfDataBaseEntryintvHVz0_S93" />
</xs:schema>